body {
  background-color: Black;
}
h1 {
  color: White;
  font-family: "Lucida Console", "Courier New", monospace;

}
h2 {
  color: White;
  font-family: "Lucida Console", "Courier New", monospace;
}

p {
  color: White;
  font-family: "Lucida Console", "Courier New", monospace;
}

.center {
  margin: auto;
  border: 3px solid #73AD21;
  padding: 10px;
}
